
.Tile {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Tile.correct {
    background-color: rgba(92, 175, 92, 0.769);
}
.Tile.present {
    background-color: rgb(255, 219, 88, 0.68);
}
.Tile.absent {
    background-color: rgb(128,128,128, 0.40);
}