
.Tile {
    border: 2px solid rgb(58, 58, 60);
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: gainsboro;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-content: center;
}

.Tile.correct {
    background-color: green;
}
.Tile.present {
    background-color: yellow;
}
.Tile.absent {
    background-color: grey;
}